// Comment ///////////////////////////////
Use this file to change the initial game settings.

Initial Settings include:
  1. Categories in the game schedule
    a. Name of the category
    b. Number of points awarded for a correct answer
    c. Number of points awarded when partial points are awarded
    d. Number of questions in the category
  2. Teams
    a. Team Names
    b. Team Members
      i. Player Name
      ii. Engagement state of Player (Playing or not playing) *Max 4 players per team playing at a time*

//////////////////////////////////////////
